html, body, div, table, tr, td, label, input, button, img, span, video, ul, li {
	margin: 0;
	padding: 0;
	text-align: center;
	font-family: "Trebuchet MS",Trebuchet,Verdana,sans-serif;
}

body {
	overflow-y: scroll;
	background: url(http://i.imgur.com/8oZ5FAh.png);
	font-family: "Trebuchet MS",Trebuchet,Verdana,sans-serif;
}

.spacer { padding: 10px; }

.icon {
	padding-left: 5px;
	width: 15px;
	height: 15px;
	vertical-align: middle;
	image-rendering: -webkit-optimize-contrast;
}

.buttonSpan {
	padding: 0 5px;
	vertical-align: middle;
}

#instructions {
	width: 599px;
	margin: 0 auto;
}

#showHideInstructions {
	display: block;
	margin: 0 auto;
	width: 200px;
  	background-color: white;
  	border: 1px solid black;
}

#formArea {
	width: 800px;
	margin: 0 auto;
}

#textArea table { margin: 0 auto; }

#textArea label { font-size: 14px; }

#urlArea {
	width: 750px;
	height: 20px;
}

#urlButton { width: 200px; }

#videoArea {
	padding: 10px 0;
	margin: 0 auto;
	display: inline-block;
}

#videoArea:focus { outline: none; }

#player {
	display: block;
	z-index: 150;
	margin: 0 auto;
}

#hoverMenu { display: inline-block; }

#hoverMenu:hover #controlButtons {
	opacity:1;
	color: red;
	transition: opacity .25s;
}

#controlButtons {
	position: relative;
	display: block;
	z-index: 151;
	opacity: 0;
	transition: opacity 1s;
}

#controlButtons a {
	color: black;
	text-decoration: none;
}

#menu {
	overflow:visible;
	margin: 0;
	display: inline-block;
}

#menu ul {
	display: inline;
	position: relative;
	list-style-type: none;
}

#menu ul li {
	display: inline-block;
}

#menu ul ul {
	margin-top: 2px;
	display: none;
	position: absolute;
}

#menu ul ul li {
	display: block;
	width: 111px;
	color: #FFF;
	font-size: 12px;
	background-color: #000;
}

#menu ul ul li:hover {
	cursor: pointer;
	background-color:#2F90D0;
}

#footer { font-size: 12px; }

#footer a {
	color: black;
}

#fader {
	position: fixed;
	left: 0;
	top: 0;
	background: #000;
	opacity: .90;
	width: 100%;
	height: 100%;
	z-index: 100;
}

.ui-tooltip {
	box-shadow: none;
	border-radius: 0;
	padding: 8px;
	color: black;
}

.ui-tooltip p {
   font-size: 12px;
   text-align: center;
}

/*License: This project uses icons ( Eightyshades by Victor Erixon ) created by Victor Erixon - http://victorerixon.com/
*/